<mat-card class="max-w-md">
  <mat-card-header>
    <mat-card-title> Login </mat-card-title>
  </mat-card-header>
  <mat-card-content class="flex-col">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="example@email.com"
        [formControl]="email"
        required
      />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="*********"
        [type]="hide ? 'password' : 'text'"
        [formControl]="password"
        required
      />
      <button
        mat-icon-button
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        matSuffix
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{
        getPasswordErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <div class="flex flex-col items-center mb-3">
      <p class="underline"><a [routerLink]="'/register'">Create account</a></p>
      <p class="underline">Forgot your password?</p>
    </div>
    <button
      mat-raised-button
      class="uppercase"
      color="primary"
      aria-label="Button to login"
      [disabled]="!email.valid || !password.valid"
      (click)="checkUser()"
    >
      Login
    </button>
  </mat-card-content>
</mat-card>
