mat-card {
  margin-left: 35vw;
  margin-right: 35vw;
  margin-top: 30vh;
  /* height: 100%; */
}

@media (max-width: 768px) {
  mat-card {
    margin-left: 20%;
    margin-right: 20%;
  }
}

mat-card-content {
  display: flex;
  align-items: center;
}

mat-form-field, button {
  width: 20vw;
}
